.card-body{
    display: flex;
    flex-direction: column;
    height: 550px;
    img{
        max-height: 250px;
    }

}

.carousel-item{
    height: 250px;
    
}

.link-bnts{
    display: flex;
    justify-content: space-between;
    margin-top: auto;


}