
<div class="content">

    <img height="300"  id="me" src="../../../assets/images/headShoot2.png" alt="Picture of Ikaika">

    <h1>About me</h1>

    <hr class="divider" />
    <p>Hi there! My name is Ikaika Pulotu and I’m a web developer with a passion for programming and learning about new technologies. I graduated from Brigham Young University-Idaho and am always looking for ways to improve my work and stay up-to-date with the latest advancements in my field. When I’m not coding, you can find me gaming with my friends or reading a book.</p>

    <p>It all started in my second year in college when I took introduction to database. At the time I was a business major, which I still love to learn about, but after that class I was hooked.  I changed majors immediately and graduated with my degree in applied technology. It was such an amazing experience for me learning everything from what a noSQL database was to understanding how to use Flex or Grid. </p>
    
    <p>As an aspiring web developer with a passion for creating engaging and user-friendly websites, I am eager to apply my skills and grow my experience in the field. Although I have little experience now, I am a quick learner and am dedicated to expanding my knowledge and abilities in web development. </p>
    <hr class="divider" />


</div>