

.content {
    display: flex;
    margin: 56px auto 0px;
    // padding: 0 16px;
    padding-top: 9px;
    padding-bottom: 140px;
    // padding-bottom: 125px;
    max-width: 900px;
    flex-direction: column;
    align-items: center;
    // background-color: beige;
    
}

#me{
    
    border-radius: 50%;
    max-height: 300px;
    border: solid black 1px;
    
}

.divider {
    height: 1px;
    width: 100%;
    background-color: black;
    margin-top: 0;
}

p{
    font-size: 21px;
    margin: 0px 10px 10px 10px ;
}