/* You can add global styles to this file, and also import other style files */
$primary: #00ab44;
.toast-success{
    background-color: #86ba9c  !important;
    color: white !important;
}
@import 'ngx-toastr/toastr';
@import "../node_modules/bootstrap/scss/bootstrap";






/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
