
<!-- <div class="content">
      <ngb-carousel  *ngIf="projects">
        <ng-template  ngbSlide *ngFor="let project of projects">
          <div class="vh-75 vw-75" >
            <div class="w-100px">
              <img  [src]="project.imagePath1" alt="Random slide">
            </div>
           
            <div class="carousel-caption">
              <h3>{{ project.name }}</h3>
              <p [innerText]="project.summary"></p>
            </div>
          </div>
       
        </ng-template>
      </ngb-carousel>
</div> -->

<!-- <div class="content">
  <app-project-card
    *ngFor="let project of projects" 
    [project]="project"
  >
  </app-project-card>

</div> -->


<!-- Page Content -->
<div class="content">
<div class="container">

  <!-- Page Heading -->
  <h1 class="my-4">My Projects
    <small>2021-present</small>
  </h1>
  <hr class="hide-hr"> 

  <div class="d-flex flex-column ">

  <!-- Project One -->
  <div class="d-flex justify-content-between prject-contaner">
      <div class="imageCarousels ">
          <ngb-carousel>
            <ng-template ngbSlide>
              <div class="">
                <img [src]="projects[0].imagePath1" alt="Random first slide" />
              </div>
              <div class="carousel-caption"></div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="">
                <img [src]="projects[0].imagePath2" alt="Random second slide" />
              </div>
              <div class="carousel-caption">a</div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="">
                <img [src]="projects[0].imagePath3" alt="Random third slide" />
              </div>
              <div class="carousel-caption"></div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="">
                <img [src]="projects[0].imagePath4" alt="From for Edit announcement with a preview on left" />
              </div>
              <div class="carousel-caption"></div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="">
                <img [src]="projects[0].imagePath5" alt="Random third slide" />
              </div>
              <div class="carousel-caption"></div>
            </ng-template>
          </ngb-carousel>
      <!-- <a href={{projects[0].liveUrl}}>  </a>  -->
      </div>
      <div class="projects-text">
        <h3>{{projects[0].name}}</h3>
        <p>{{projects[0].summary}}</p>
        <div class="d-flex">
          <div class="d-flex flex-row flex-wrap my-3 " >
            <div *ngFor="let tech of projects[0].tech" class="tech-box ">{{tech}}</div>
          </div> 
        </div>
        <a class="btn btn-primary py-3 px-5 fw-bold text-white" href={{projects[0].liveUrl}} target="_blank">Live site</a>
      </div>
  </div>




  <hr class="hide-hr">
    <!-- Project Two -->
  <div id="projects"  class="d-flex justify-content-between prject-contaner">
    <div class="projects-text">
      <h3>{{projects[1].name}}</h3>
      <p>{{projects[1].summary}}</p>
      <div class="d-flex flex-row flex-wrap my-3 " >
        <div *ngFor="let tech of projects[1].tech" class="tech-box ">{{tech}}</div>
      </div> 
      <div id="project-bnts"  class="d-flex justify-content-start">     
        <a class="btn btn-primary py-3 px-5 fw-bold text-white" href={{projects[1].liveUrl}} target="_blank">Live site</a>
        <a class="btn btn-primary mx-2 py-3 px-5 fw-bold text-white" href={{projects[1].gitUrl}} target="_blank">GitHub</a> 
      </div>
    </div>
    <div class="d-flex imageCarousels" >
      <img [src]="projects[1].imagePath1" alt="Random first slide" />
    </div>
  </div>

  <hr class="hide-hr">

  <!-- Project Three -->
  <div class="d-flex justify-content-between prject-contaner">
    <div class=" d-flex imageCarousels">
      <img [src]="projects[2].imagePath1" alt="Random first slide" />
    </div>
    <div class="projects-text">
      <h3>{{projects[2].name}}</h3>
      <p>{{projects[2].summary}}</p>
      <div class="d-flex flex-row flex-wrap my-3 " >
        <div *ngFor="let tech of projects[2].tech" class="tech-box ">{{tech}}</div>
      </div> 
      <div id="project-bnts" class="d-flex justify-content-start ">     
        <a class="btn btn-primary py-3 px-5 fw-bold text-white" href={{projects[2].liveUrl}} target="_blank">Live site</a>
        <a class="btn btn-primary mx-2 py-3 px-5 fw-bold text-white" href={{projects[2].gitUrl}} target="_blank">GitHub</a> 
      </div>
    </div>
  </div>
 

  <hr class="hide-hr">

  <!-- Project Four -->
  <div id="projects"  class="d-flex justify-content-between prject-contaner">
    <div class="projects-text">
      <h3>{{projects[3].name}}</h3>
      <p>{{projects[3].summary}}</p>
      <div class="d-flex flex-row flex-wrap my-3 " >
        <div *ngFor="let tech of projects[3].tech" class="tech-box ">{{tech}}</div>
      </div> 
      <div id="project-bnts" class="d-flex justify-content-start ">     
        <a class="btn btn-primary py-3 px-5 fw-bold text-white" href={{projects[3].liveUrl}} target="_blank">Live site</a>
        <a class="btn btn-primary mx-2 py-3 px-5 fw-bold text-white" href={{projects[3].gitUrl}} target="_blank">GitHub</a> 
      </div>
    </div>
    <div class="d-flex imageCarousels">
      <img [src]="projects[3].imagePath1" alt="Random first slide" />
    </div>
  </div>


  <hr class="hide-hr">

    <!-- Project five -->
    <div class="d-flex justify-content-between prject-contaner">
      <div class="d-flex imageCarousels">
        <img [src]="projects[4].imagePath1" alt="Random first slide" />
      </div>
      <div class="projects-text">
        <h3>{{projects[4].name}}</h3>
        <p>{{projects[4].summary}}</p>
        <div class="d-flex flex-row flex-wrap my-3 " >
          <div *ngFor="let tech of projects[4].tech" class="tech-box ">{{tech}}</div>
        </div> 
        <div class="projects-text">     
          <a class="btn btn-primary py-3 px-5 fw-bold text-white" href={{projects[4].gitUrl}} target="_blank">GitHub</a> 
        </div>
      </div>
    </div>
    <hr class="hide-hr">

      <!-- Project six -->
  <div id="projects" class="d-flex justify-content-between prject-contaner">
    <div class="projects-text">
      <h3>{{projects[5].name}}</h3>
      <p>{{projects[5].summary}}</p>
      <div class="d-flex flex-row flex-wrap my-3 " >
        <div *ngFor="let tech of projects[5].tech" class="tech-box ">{{tech}}</div>
      </div> 
      <div  id="project-bnts" class="d-flex justify-content-start ">     
        <a class="btn btn-primary py-3 px-5 fw-bold text-white" href={{projects[5].liveUrl}} target="_blank">Live site</a>
        <a class="btn btn-primary mx-2 py-3 px-5 fw-bold text-white" href={{projects[5].gitUrl}} target="_blank">GitHub</a> 
      </div>
    </div>
    <div class="d-flex imageCarousels">
      <img [src]="projects[5].imagePath1" alt="Random first slide" />
    </div>
  </div>

  </div>
  <hr class="hide-hr">

  <!-- Pagination -->
  <!-- <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">3</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li> 
  </ul>-->

</div>











