:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }



  // .content {
  //   display: flex;
  //   margin: 82px auto 32px;
  //   padding: 0 16px;
  //   max-width: 960px;
  //   flex-direction: column;
  //   align-items: center;
  // }

#content{
  padding-bottom: 125px;
}
  // .content{
  //   // margin-bottom: 120px;
    
  // }


// a {
//   display: block;
//   max-width: 500px;
//   border:solid #86ba9c 1px;
// }

#homeA{
  max-width: 416px;
 
  
  img{
    max-width: 416px;
   
  }
}



.home-page-images{
  max-width: 500px;
  border:solid #86ba9c 1px;
}
 
.jumbotron{
  color: white;
  padding: 4rem 1rem 2rem ;
  margin-bottom: 2rem;
  background-image: url("../../../assets/images/labtop.jpg");
  border-radius: 0.3rem;
}

#jumbotron-text{
  text-shadow: 2px 2px #333;
}


.link-image{
  justify-self: center;
}

p{
  font-size: large;
}


  /* Responsive Styles */
  @media screen and (max-width: 767px) {


    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

  }


