
.content {
  display: flex;
  height: calc(100vh - 131px);
  align-items: center;
  justify-items: center;

}

h1{   
    text-align: center;
 }

form{
    h3{
        margin-bottom: 25px; 
        text-align: center;
    }
    div{
        padding: .5rem;
    }
}

#contact-flex{
    display: flex;
    justify-content: space-around;
    

    > *{
        width: 50%;
    }
}

#contact-card{
 background-image: url(../../../assets/svg/laptop-2298286.svg);
 background-repeat:no-repeat;
}


  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    #contact-flex{
        flex-direction: column;
    }

    #contact-flex > *{
        width: 100%;
    }
 
  }